@import "colors.scss";

header{
  display: inline-block;
  width: 100%;
  .section{
    margin-top: 80px;
    position: relative;
    .icons{
      position: absolute;
      li{
        background: $color_5;
        width: 100px;
      }
    }
  }
}
#tablet, #imac{
  display: none;
}
