$color_1: #42eee3;
$color_2: #2ee2d6;
$color_3: #1fd0c4;
$color_4: #17c0b5;
$color_5: #0eb0a5;
$color_6: #00767f;

header{
  display: inline-block;
  width: 100%;
}
#header{
  margin-top: 80px;
  position: relative;
  .icons{
    position: absolute;
    li{
      background: $color_5;
      width: 100px;
    }
  }
}
.container{
  align-items: center;
  display: flex;
  justify-content: center;
  >div:first-child{
    background: radial-gradient($color_1 30%, $color_2 30% 40%, $color_3 40% 50%, $color_4 50% 60%, transparent 60% 100%);
    height: 512px;
    position: relative;
    width: 512px;
    img{
      max-height: 90%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  >div:last-child{
    color: white;
    div:first-child{
      align-items: center;
      display: flex;
      margin-bottom: 2rem;
      i{
        font-size: 3rem;
        margin-right: .5rem;
      }
      h5{
        font-size: 1.5rem;
      }
    }
    h3{
      text-transform: uppercase;
    }
    div:last-child{
      cursor: pointer;
      display: flex;
      font-size: 2rem;
      line-height: 1;
      margin-top: 2rem;
      i{
        background: $color_5;
        padding: .5rem;
        transition: background-color .5s;
      }
      a{
        background: $color_1;
        color: white;
        padding: .5rem;
        text-decoration: none;
        transition: background-color .5s;
      }
      &:hover{
        i{
          background: $color_6;
        }
        a{
          background: $color_3;
        }
      }
    }
  }
}
#tablet, #imac{
  display: none;
}
